
.basket-wrapper {
    width: 80vw;
    padding: 0 50px 10vw 10vw;
}

.basket-total {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.basket-total h1 {
    font-size: 20pt;
    font-family: Arial, "sans-serif";
}

.basket-item-wrapper {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 15px 0 15px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.basket-item-wrapper img {
    height: 100%;
}

.basket-count-input {
    width: 50px;
    height: 18px;
    font-size: 14pt;
    border: 0;
    border-bottom: 1px solid grey;
}

.basket-item-title-container {
    width: 40%;
    padding-left: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(128, 128, 128, 0.3);
    border-left: 1px solid rgba(128, 128, 128, 0.3);
}

.basket-item-title-container h1 {
    font-family: Arial, "sans-serif";
    font-size: 18pt;
    font-weight: 600;
    color: #f6481c;
    margin-bottom: 30px;
}

.basket-item-title-container h2 {
    font-size: 16pt;
    margin-top: 10px;
    color: #313e49;
    display: flex;
    align-items: center;
}

.basket-item-total-container h1 {
    text-align: center;
    font-family: Arial, "sans-serif";
    font-size: 18pt;
    font-weight: 600;
}

.basket-item-total-container {
    width: 25%;
}

.basket-item-total-container h2 {
    text-align: center;
    margin-top: 15px;
    font-size: 24pt;
}

.basket-count-buttons {
    margin-left: 10px;
    width: 20px;
    height: 18px;
}

.basket-count-increment {
    display: block;
    border-left: 3px solid grey;
    border-top: 3px solid grey;
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
}

.basket-count-decrement {
    display: block;
    border-right: 3px solid grey;
    border-bottom: 3px solid grey;
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    transition: 0.3s linear;
}

.basket-count-increment:hover {
    border-color: #f6481c;
    cursor: pointer;
}

.basket-count-decrement:hover {
    border-color: #f6481c;
    cursor: pointer;
}

.basket-delete-wrapper {
    width: 150px;
    height: calc(100% + 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 0 10px 10px 0;
    transition: .3s linear;
}

.basket-delete-wrapper img {
    width: 30px;
    height: 40px;
}

.basket-delete-wrapper h3 {
    color: rgba(72, 71, 72, 0.7);
    font-size: 14pt;
    font-weight: 600;
    font-family: Arial sans-serif;
}

.basket-delete-wrapper:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.basket-order-button {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}