.modal-wrapper {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal-content {
    min-width: 50vw;
    min-height: 70vh;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}