
.price-range-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.slider {
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: 5px;
    position: absolute;
}

.slider__track {
    background-color: white;
    border: 1px solid hsl(0, 0%, 80%);
    width: 100%;
    z-index: 1;
}

.slider__range {
    background-color: #f6481c;
    z-index: 2;
    border: 1px solid transparent;
}

.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -5px;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
}

.thumb--left {
    z-index: 3;
}

.thumb--right {
    z-index: 4;
}

.thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

.slider__left-value,
.slider__right-value {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 10px;
    font: 12pt Arial;
    color: #484748;
    width: 40px;
    height: 40px;
    transition: .3s;
    text-align: center;
}

.slider__left-input-box,
.slider__right-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -16px;
}

.slider__left-input-box {
    margin-left: -50px;
}

.slider__right-input-box {
    display: flex;
    flex-direction: column;
    margin-right: -50px;
}

.slider label {
    font-family: Arial sans-serif;
    font-size: 10pt;
    color: #3f4e5d;
}