body {
    background-color: #fafafa;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
    outline: none;
    color: black;
}

.main-header {
    height: 75px;
    width: 91vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f4e5d;
    padding-left: 4vw;
    padding-right: 5vw;
}

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes show {
    from {opacity: 0}
    to {opacity: 1}
}

@media (max-width: 790px) {
    .list-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-item-wrapper {
        width: 93vw;
    }
}

.product-item-wrapper {
    min-width: 25vw;
    height: 400px;
    margin: 1vw;
    border-radius: 10px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07);
    transition: 0.3s linear;
    opacity: 0;
    animation: show 0.3s forwards;
}

.product-item-wrapper:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.product-item-wrapper h1 {
    font-size: 14pt;
    color: #4d5366;
    font-family: Arial, "sans-serif";
    font-weight: 500;
    transition: 0.3s linear;

}

.product-item-wrapper h1:hover {
    cursor: pointer;
    color: #ff680a;
}

.product-item-photo {
    margin-top: 50px;
    width: 200px;
    margin-bottom: 50px;
}

.product-item-title {
    width: 100%;
}

.product-item-wrapper h2 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18pt;
    font-family: Arial, "sans-serif";
}

.add-to-basket-button {
    padding: 5px 0;
    min-width: 130px;
    text-align: center;
    color: #fff;
    background: #f6731c 50%;
    border: 0;
    border-radius: 10px;
    font-size: 14pt;
    transition: 0.3s linear;
    position: relative;
    z-index: 100;
}

.add-to-basket-button:hover {
    background: #f6481c;
}

.paginator-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator-page {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 10px;
    font: 20px/1 Arial;
    color: #484748;
    width: 40px;
    height: 40px;
    transition: 0.3s;
    margin-left: 5px;
    background-color: white;
}

.paginator-page:hover {
    cursor: pointer;
    color: #f6731c;
    border: 1px solid #f6731c;
}

.paginator-active-page {
    background-color: #f6731c;
    color: #fff !important;
}

.paginator-next, .paginator-back {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.paginator-back {
    transform: rotate(180deg);
}

.product-wrapper {
    width: 80vw;
    padding: 30px 10vw;
    opacity: 0;
    animation: show 0.3s forwards;
}

.product-container {
    height: 500px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px 5vw;
}

.product-container h1 {
    font: 400 36px/36px Roboto, sans-serif;
    border-bottom: 1px solid grey;
}

.product-description-container {
    width: 100%;
    height: 65%;
    padding-top: 10%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: row;
}

.product-description-container img {
    width: 50%;
}

.product-image-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-description {
    margin-left: 20px;
    width: 50%;
}

.product-description h2 {
    font-family: Arial, "sans-serif";
    margin-top: 20px;
}

b {
    display: block;
    float: left;
    font-weight: 700;
    width: 100px;
}

.nav-button {
    width: 150px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s linear;
}

.nav-button:hover {
    background-color: #313e49;
}

.nav-button h1 {
    color: white;
    font-family: Arial, "sans-serif";
}

.nav-button img {
    width: 40px;
}

.product-price-container {
    margin-top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket-wrapper {
    width: 80vw;
    padding: 0 50px 10vw 10vw;
}

.basket-total {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.basket-total h1 {
    font-size: 20pt;
    font-family: Arial, "sans-serif";
}

.basket-item-wrapper {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 15px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.basket-item-wrapper img {
    height: 100%;
}

.basket-item-title-container {
    width: 50%;
    padding-left: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(128, 128, 128, 0.3);
    border-left: 1px solid rgba(128, 128, 128, 0.3);
}

.basket-item-title-container h1 {
    font-family: Arial, "sans-serif";
    font-size: 18pt;
    font-weight: 600;
    color: #f6481c;
    margin-bottom: 30px;
}

.basket-item-title-container h2 {
    font-size: 16pt;
    margin-top: 10px;
    color: #313e49;
}

.basket-item-total-container h1 {
    text-align: center;
    font-family: Arial, "sans-serif";
    font-size: 18pt;
    font-weight: 600;
}

.basket-item-total-container {
    width: 25%;
}

.basket-item-total-container h2 {
    text-align: center;
    margin-top: 15px;
    font-size: 24pt;
}

h5 {
    font-size: 26pt !important;
    font-family: Arial, 'sans-serif';
    margin-top: 200px !important;
    width: 100%;
    text-align: center;
}

.notificator-wrapper {
    position: fixed;
    z-index: 999;
    right: 5px;
    bottom: 5px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.notification-wrapper {
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    opacity: 0;
    animation: show 0.3s forwards;
    border-radius: 5px;
    transition: linear .1s;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    box-shadow: 0 3px 5px -1px rgba(0 0 0 .2),  0 6px 10px 0 rgba(0 0 0 .14),  0 1px 18px 0 rgba(0 0 0 .12);
}

.notification-wrapper img {
    margin-right: 10px;
}

.notification-success {
    background-color: rgba(0, 175, 38, 0.9);
}
.notification-success:hover {
    background-color: rgba(0, 175, 38, 0.7);
}

.notification-wrapper:hover {
    font-size: 11pt;
    cursor: pointer;
}

.delete-notification {
    animation: delNotifi .3s forwards;
}

@keyframes delNotifi {
    0% {height: 30px; margin: 5px;}
    33% {height: 0; margin: 0;}
    66% {height: 0; margin: 5px;}
    100% {height: 0; margin: 0;}
}

.product-proto-animation {
    opacity: 1;
    border-radius: 10px;
    min-height: 30px;
    background: linear-gradient(-45deg, #fff, #fefefe, #efefef, #fff);
    background-size: 400% 400%;
    animation: protoAnimation 1s;
    animation-iteration-count: infinite;
}

@keyframes protoAnimation {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}