body {
  background-color: #fafafa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header {
  height: 75px;
  width: 100%;
  background-color: #3f4e5d;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 790px) {
  .list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-item-wrapper {
    width: 93vw;
  }
}

.product-item-wrapper {
  min-width: 25vw;
  height: 400px;
  margin: 1vw;
  border-radius: 10px;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07);
  transition: 0.3s linear;
}

.product-item-wrapper:hover {
  background-color: #f5f5f5;
}

.product-item-wrapper h1 {
  font-size: 14pt;
  color: #7e89aa;
  font-family: Arial, "sans-serif";
  font-weight: 500;
  transition: 0.3s linear;

}

.product-item-wrapper h1:hover {
  cursor: pointer;
  color: #ff680a;
}

.product-item-photo {
  margin-top: 50px;
  width: 200px;
  margin-bottom: 50px;
}

.product-item-title {
  width: 100%;
}

.product-item-wrapper h2 {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18pt;
  font-family: Arial, "sans-serif";
}

.add-to-basket-button {
  padding: 5px 0;
  min-width: 130px;
  text-align: center;
  color: #fff;
  background: #f6731c 50%;
  border: 0;
  border-radius: 10px;
  font-size: 14pt;
  transition: 0.3s linear;
}

.add-to-basket-button:hover{
  background: #f6481c;
}

.paginator-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-page {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 10px;
  font: 20px/1 Arial;
  color: #484748;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  margin-left: 5px;
}

.paginator-page:hover {
  cursor: pointer;
  color: #f6731c;
  border: 1px solid #f6731c;
}

.paginator-active-page {
  background-color: #f6731c;
  color: #fff !important;
}

.paginator-next, .paginator-back{
  width: 30px;
  height: 30px;
  padding: 5px;
}

.paginator-back {
  transform: rotate(180deg);
}
